@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.container--no-padding {
  padding: 0;
  margin: 0;
}

@media (min-width: 992px) {
  .container--no-padding {
    padding: 0px 15px;
  }
}

.heading {
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333333;
}

@media (max-width: 991px) {
  .heading {
    font-size: 28px;
  }
}

.heading--number::before {
  position: absolute;
  display: block;
  content: '0';
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  width: 26px;
  height: 26px;
  background-color: #ffc80a;
  border-radius: 13px;
  top: -20px;
  left: -32px;
  padding-top: 6px;
}

.heading--number-1::before {
  content: '1';
  padding-left: 10px;
}

.heading--number-2::before {
  content: '2';
  padding-left: 9px;
}

.card {
  padding: 34px 25px 47px;
  background-color: #fff;
  border-radius: 7px;
  color: #242526;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
          box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
}

.card__type {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 27px;
}

.card__price {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}

.card__price::after {
  content: "c";
  font-family: 'als_rublregular';
  margin-left: 6px;
}

.card__period {
  font-size: 12px;
  line-height: 2.5;
  letter-spacing: 0.025px;
  margin-bottom: 36px;
}

ul.card__list {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 43px;
}

ul.card__list li {
  margin-bottom: 10px;
}

ul.card__list li::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../../img/icons/ok-icon.png");
  background-repeat: no-repeat;
  background-position: left 4px;
  display: inline-block;
  margin-right: 13px;
}

.button {
  display: inline-block;
  width: 150px;
  height: 42px;
  background-color: #252525;
  -webkit-box-shadow: 0px 8px 16px 0px #ababab;
          box-shadow: 0px 8px 16px 0px #ababab;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 22px;
  padding: 14px 0;
}

.button:hover, .button:focus {
  background-color: #ffc80a;
  -webkit-box-shadow: 0px 8px 16px 0px #e9deb9;
          box-shadow: 0px 8px 16px 0px #e9deb9;
}

@media (max-width: 991px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
  .navigation .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation .menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 67px;
    color: #fff;
    width: 100%;
  }
  .navigation .menu__burger-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.0;
    letter-spacing: 4.3px;
    z-index: 4;
  }
  .navigation .menu__burger-button {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 4;
  }
  .navigation .menu__burger-button span, .navigation .menu__burger-button::before, .navigation .menu__burger-button::after {
    position: absolute;
    height: 20%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .navigation .menu__burger-button::before, .navigation .menu__burger-button::after {
    content: "";
  }
  .navigation .menu__burger-button::before {
    top: 0;
  }
  .navigation .menu__burger-button::after {
    bottom: 0;
  }
  .navigation .menu__burger-button span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
  .navigation._active {
    background-color: #16385f;
    z-index: 21;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    padding-top: 67px;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
    height: 100%;
    background-color: #35577d;
  }
  ul.menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  ul.menu__list li {
    border-bottom: 1px solid #466a92;
    line-height: 1;
    padding: 0 15px;
  }
  ul.menu__list .menu__link {
    display: block;
    color: #fff;
    padding: 22px 15px;
  }
}

@media (min-width: 992px) {
  .menu__burger {
    display: none;
  }
}

.prices {
  padding-top: 154px;
  padding-bottom: 90px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.prices__title {
  margin-bottom: 20px;
}

.prices__text {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #777;
  word-spacing: 2px;
}

.prices__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prices__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 360px;
          flex: 0 1 360px;
}

.benefits {
  position: relative;
  padding-top: 57px;
  padding-bottom: 70px;
  text-align: center;
}

@media (max-width: 991px) {
  .benefits {
    padding-top: 28px;
    padding-bottom: 17px;
  }
}

.benefits__title {
  margin-bottom: 52px;
}

@media (max-width: 991px) {
  .benefits__title {
    margin-bottom: 35px;
  }
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
  flex: 0 1 25%;
}

@media (max-width: 991px) {
  .benefits__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .item-benefits {
    padding: 0 25px;
  }
}

.item-benefits__img {
  height: 110px;
  margin-bottom: 28px;
}

.item-benefits__img--pt10 {
  padding-top: 10px;
}

@media (max-width: 991px) {
  .item-benefits__img--pt10 {
    padding-top: 19px;
  }
}

.item-benefits__title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 700;
  color: #333333;
  margin-bottom: 16px;
}

@media (max-width: 1199px) {
  .item-benefits__title {
    font-size: 18px;
    margin-bottom: 11px;
  }
}

.item-benefits__text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #777;
}

.benefits::after {
  display: block;
  position: absolute;
  content: '';
  border-bottom: 1px solid #ccc;
  width: 100%;
  opacity: 0.32;
  bottom: 0;
}

.footer {
  padding-top: 56px;
  padding-bottom: 68px;
  background-color: #252525;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer__title {
  font-size: 12px;
  line-height: 57px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #f7f8f9;
  margin-bottom: -4px;
}

.footer__nav {
  font-size: 14px;
  line-height: 36px;
  margin-bottom: 43px;
  padding-right: 20px;
}

.footer__nav li a {
  color: #6c6c6c;
}

.footer__nav li a:hover, .footer__nav li a:focus {
  color: #ffc80a;
}

.footer .copyright {
  font-size: 14px;
  line-height: 35px;
  color: #6c6c6c;
}

.logo {
  text-align: center;
  padding-top: 54px;
  padding-bottom: 40px;
  font-family: 'Noto Sans', sans-serif;
}

.logo__title {
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 11.7px;
  color: #000000;
}

.logo__subtitle {
  font-size: 16px;
  line-height: 2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 12.3px;
  color: #a1bbd9;
}

@media (max-width: 1199px) {
  .logo {
    padding: 34px 0;
  }
  .logo__title {
    font-size: 33px;
    letter-spacing: 10.5px;
  }
  .logo__subtitle {
    font-size: 14px;
    letter-spacing: 10.8px;
  }
}

@media (max-width: 991px) {
  .logo {
    padding-top: 100px;
  }
}

.navigation {
  height: 67px;
  background-color: #38383a;
  -webkit-box-shadow: 0px 5px 10px 0px #2a496d;
          box-shadow: 0px 5px 10px 0px #2a496d;
}

.navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 67px;
}

.navigation .menu .menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.navigation .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.navigation .menu__list a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 992px) {
  .navigation .menu__list .selected {
    color: #ffc80a;
  }
}

.navigation .menu__list li a:hover {
  color: #ffc80a;
}

.freelance {
  position: relative;
  padding-top: 70px;
}

.freelance::after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #ccc;
  width: 100%;
  opacity: 0.32;
  bottom: -84px;
}

.service-description__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.service-description__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 15px;
}

.service-description__img-tablet {
  position: relative;
}

.service-description__img-tablet img {
  position: absolute;
  right: 80px;
  max-width: 100%;
}

.service-description__body {
  padding-top: 17px;
  word-spacing: 2px;
}

.service-description__title {
  margin-bottom: 20px;
  margin-left: -3px;
}

.service-description__text p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #777;
  margin-bottom: 22px;
}

.service-description__button-arrow {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../../img/icons/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: 4px;
}

.startup {
  position: relative;
  padding-top: 155px;
}

.startup::after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #ccc;
  width: 100%;
  opacity: 0.32;
  bottom: -94px;
}

#startups {
  margin-top: -50px;
  height: 50px;
}

.service-description__col-55 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
  padding: 0 15px;
  margin-left: 103px;
}

.service-description__col-45 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  padding: 0 15px;
}

.service-description__img-rocket {
  position: relative;
}

.service-description__img-rocket img {
  position: absolute;
  left: 25px;
  max-width: 100%;
}

.slider {
  background-color: #295489;
  background-image: url("../../img/bg/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 132px 0;
  -webkit-box-shadow: 0px 3px 25px 0px #688ab3;
          box-shadow: 0px 3px 25px 0px #688ab3;
}

.slider-swiper {
  position: relative;
}

.slider-swiper__wrapper {
  position: relative;
}

.slider-swiper__col {
  text-align: center;
}

.slider-swiper__title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 18px;
}

@media (max-width: 991px) {
  .slider-swiper__title {
    font-size: 26px;
  }
}

.slider-swiper__subtitle {
  font-family: 'Noto Serif', serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #cddfe0;
}

@media (max-width: 991px) {
  .slider-swiper__subtitle {
    font-size: 18px;
  }
}

/* Стрелки(кастомные) */
.slider-swiper__buttons .button--prev,
.slider-swiper__buttons .button--next {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 33%;
  z-index: 2;
  cursor: pointer;
}

.button--prev {
  background-image: url("../img/icons/arrow-left.png");
}

.button--next {
  background-image: url("../img/icons/arrow-right.png");
  right: 0;
}

/* Пагинация */
/* Буллеты */
