@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

.container {
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.heading {
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333333;
}

.heading--number::before {
  position: absolute;
  display: block;
  content: '0';
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  width: 26px;
  height: 26px;
  background-color: #ffc80a;
  border-radius: 13px;
  top: -20px;
  left: -32px;
  padding-top: 6px;
}

.heading--number-1::before {
  content: '1';
  padding-left: 10px;
}

.heading--number-2::before {
  content: '2';
  padding-left: 9px;
}

.benefits {
  position: relative;
  padding-top: 57px;
  padding-bottom: 70px;
  text-align: center;
}

.benefits__title {
  margin-bottom: 52px;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.benefits__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
  flex: 0 1 25%;
}

.item-benefits__img {
  height: 110px;
  margin-bottom: 23px;
}

.item-benefits__img--pt10 {
  padding-top: 10px;
}

.item-benefits__title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 16px;
}

.item-benefits__text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #777777;
}

.benefits::after {
  display: block;
  position: absolute;
  content: '';
  border-bottom: 1px solid #ccc;
  width: 100%;
  opacity: 0.32;
  bottom: 0;
}

.logo {
  text-align: center;
  padding-top: 54px;
  padding-bottom: 40px;
  font-family: 'Noto Sans', sans-serif;
}

.logo__title {
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 11.7px;
  color: #000000;
}

.logo__subtitle {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 12.3px;
  color: #a1bbd9;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 67px;
  background-color: #38383a;
  -webkit-box-shadow: 0px 5px 10px 0px #2a496d;
          box-shadow: 0px 5px 10px 0px #2a496d;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.navigation__list li {
  list-style-type: none;
}

.navigation__list li a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 992px) {
  .navigation__list li .selected {
    color: #ffcc00;
  }
}

.navigation__list li a:hover {
  color: #ffcc00;
}

.freelance {
  position: relative;
  padding-top: 70px;
}

.freelance::after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #ccc;
  width: 100%;
  opacity: 0.32;
  bottom: -84px;
}

.service-description__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.service-description__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 15px;
}

.service-description__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 15px;
}

.service-description__img-tablet {
  position: relative;
}

.service-description__img-tablet img {
  position: absolute;
  right: 80px;
  max-width: 100%;
}

.service-description__body {
  padding-top: 17px;
  word-spacing: 2px;
}

.service-description__title {
  margin-bottom: 20px;
  margin-left: -3px;
}

.service-description__text p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #777777;
  margin-bottom: 22px;
}

.service-description__button-arrow {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../../img/icons/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: 4px;
}

.startup {
  position: relative;
  padding-top: 155px;
}

.startup::after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #ccc;
  width: 100%;
  opacity: 0.32;
  bottom: -94px;
}

.service-description__col-55 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
  padding: 0 15px;
  margin-left: 103px;
}

.service-description__col-45 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  padding: 0 15px;
}

.service-description__img-rocket {
  position: relative;
}

.service-description__img-rocket img {
  position: absolute;
  left: 25px;
  max-width: 100%;
}

.slider {
  background-color: #295489;
  background-image: url("../../img/bg/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 132px 0;
  -webkit-box-shadow: 0px 3px 25px 0px #688ab3;
          box-shadow: 0px 3px 25px 0px #688ab3;
}

.slider-swiper {
  position: relative;
}

.slider-swiper__wrapper {
  position: relative;
}

.slider-swiper__col {
  text-align: center;
}

.slider-swiper__title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 18px;
}

.slider-swiper__subtitle {
  font-family: 'Noto Serif', serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #cddfe0;
}

/* Стрелки(кастомные) */
.slider-swiper__buttons .button--prev,
.slider-swiper__buttons .button--next {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 33%;
  z-index: 2;
  cursor: pointer;
}

.button--prev {
  background-image: url("../img/icons/arrow-left.png");
}

.button--next {
  background-image: url("../img/icons/arrow-right.png");
  right: 0;
}

/* Пагинация */
/* Буллеты */
