.footer {
	padding-top: 56px;
	padding-bottom: 68px;
	background-color: #252525;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;

	&__row {
		display: flex;
	}
	&__col {
		flex: 0 1 25%;
	}
	&__title {		
		font-size: 12px;
		line-height: 57px;		
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #f7f8f9;
		margin-bottom: -4px;
	}
	&__nav {		
		font-size: $fz;
		line-height: 36px;		
		margin-bottom: 43px;
		padding-right: 20px;

		& li a {
			color: #6c6c6c;
			
			&:hover, &:focus {
				color: $orange;
			}
		}		
	}

	.copyright {		
		font-size: $fz;
		line-height: 35px;		
		color: #6c6c6c;
	}
}