.logo {
	text-align: center;
	padding-top: 54px;
	padding-bottom: 40px;
	font-family: 'Noto Sans', sans-serif;		

	&__title {		
		font-size: 38px;
		line-height: 1;
		font-weight: 700;		
		text-transform: uppercase;
		letter-spacing: 11.7px;
		color: #000000;		
	}
	&__subtitle {		
		font-size: 16px;
		line-height: 2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 12.3px;
		color: #a1bbd9;		
	}
	
	@media (max-width: 1199px) {		
			padding: 34px 0;

			&__title {
				font-size: 33px;
				letter-spacing: 10.5px;
			}
			&__subtitle {
				font-size: 14px;
				letter-spacing: 10.8px;
			}					
	}		
}

