.navigation {		
	// height: 67px;
	background-color: #38383a;
	font-family: 'Noto Sans', sans-serif;
	color: #fff;
	font-size: $fz;
	box-shadow: 0px 5px 10px 0px #2a496d;

	.menu {
		display: flex;		
		align-items: center;
		height: 67px;
		
		&__list {
			display: flex;
			justify-content: space-between;
						
			line-height: 26px;
			// font-weight: 700;
			// text-transform: uppercase;
			letter-spacing: 6px;		
			
			// @media(max-width: 991px) {			
			// 	display: none;
			// 	opacity: 0;
			// 	visibility: hidden;
			// 	pointer-events: none;
			// }		

			// & li {
				// list-style-type: none;					

			& a {
				text-decoration: none;
				color: #fff;				
			}
			& .selected {
				@media (min-width: 992px) {
					color: $orange; 
				}
			}
			// }		
			& li a:hover {
				color: $orange;			
			}		
		}
	}
	
}		
