.slider {
	background-color: #1d62f0;
}
.slider__row {
	display: flex;
	justify-content: center;

	// background-color: yellow;
}
.slider__col {
	flex-basis: 66%;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	// background-color: green;
}
.slider__title {	
	font-family: "Noto Sans";
	text-align: center;
	font-size: 32px;
	line-height: 42px;
	font-weight: 700;
	letter-spacing: -0.5px;
	color: #ffffff;
}
.slider__subtitle {
	font-family: "Noto Serif";
	text-align: center;
	font-size: 22px;
	line-height: 32px;
	font-weight: 400;
	color: #cddfe0;	
}