.slider {
	background-color: #295489;
	background-image: url('../../img/bg/slider-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0 132px 0;
	box-shadow: 0px 3px 25px 0px #688ab3;
}

.slider-swiper {
	position: relative;
	&__wrapper {
		position: relative;
	}		
	&__col {
		text-align: center;
	}
	&__title {
		font-family: 'Noto Sans', sans-serif;
		font-size: 32px;
		line-height: 42px;
		font-weight: 700;
		letter-spacing: 0.5px;
		color: #ffffff;
		margin-bottom: 18px;

		@media(max-width: 991px) {			
			font-size: 26px;			
		}
	}
	&__subtitle {
		font-family: 'Noto Serif', serif;
		font-size: 22px;
		line-height: 32px;
		font-weight: 400;
		color: #cddfe0;

		@media(max-width: 991px) {			
			font-size: 18px;			
		}
	}
}

// ------------------------------

// Customizing slider styles

/* Стрелки(кастомные) */
.slider-swiper__buttons .button--prev,
.slider-swiper__buttons .button--next {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 33%;
  z-index: 2;
  cursor: pointer;
}
.button--prev {
  background-image: url("../img/icons/arrow-left.png");
}
.button--next {
  background-image: url("../img/icons/arrow-right.png");
  right: 0;
}

/* Пагинация */
// .slider-swiper .swiper-pagination {
//   bottom: 0;
// }
/* Буллеты */
// .slider-swiper .swiper-pagination-bullet {
// 	width: 20px;
// 	height: 20px;
// 	line-height: 20px;
// 	font-size: 14px;
// 	background-color: #fff;
// }