.benefits {
	padding-top: 34px;
	padding-bottom: 50px;
	text-align: center;
	border-bottom: 1px solid #EBF0F6;
}
.benefits-container {
	padding-left: 20px;
	padding-right: 20px;
}
.benefits__title {
	margin-bottom: 40px;
}
.benefits__row {
	display: grid;
	row-gap: 40px;
}
/* ---- item ----- */
.item__image {	
	margin-bottom: 28px;	
}
.item__image--weather {
	display: inline-block;	
	width: 127px;
	height: 97px;
	background: url('../../img/images/weather.jpg') no-repeat;	 
}
.item__image--graph {
	display: inline-block;	
	width: 105px;
	height: 83px;
	background: url('../../img/images/graph.jpg') no-repeat;	 
}
.item__image--flipchart {
	display: inline-block;	
	width: 72px;
	margin-top: -8px;
	height: 101px;
	background: url('../../img/images/flipchart.jpg') no-repeat;	 
}
.item__image--presentation {
	display: inline-block;	
	width: 95px;
	height:113px;

	background: url('../../img/images/presentation.jpg') no-repeat;	 
}
.item__title {
	padding: 0 50px;	
	margin-bottom: 11px;
	font-size: 18px;	
	font-weight: 700;
	line-height: 1.33;
	color: #333;
}
.item__text {
	padding: 0 5px;	
	font-size: var(--fz);	
	font-weight: 400;
	line-height: var(--lh14);
	color: #777;
}
/* ------- Адаптив блока benefits ------- */
@media (min-width: 768px) {
	.benefits {	
		padding-bottom: 60px;		
	}	
	.benefits__row {
		display: flex;
		justify-content: space-around;		
		flex-wrap: wrap;	
		column-gap: 2%;
	}
	.benefits__col {		
		flex: 0 1 350px;
	}
	.item__image--graph {
		margin-top: 14px;
	}
	.item__image--flipchart {
		margin-top: 0;
		margin-bottom: 40px;
	}
	.item__title {
		padding: 0 70px;
	}
	.item__text {
		padding: 0 20px;
		margin: 11px;
	}
}
@media (min-width: 1080px) {
	.benefits__row {		
		padding: 0 20px;
	}
	.benefits__col {		
		width: 260px;
	}
	.item__image--flipchart {
		margin-bottom: 24px;
	}
	.item__image--presentation {
		margin-bottom: 12px;
	}	
} 
@media (min-width: 1200px) {
	.benefits {
		padding-top: 60px;
		padding-bottom: 70px;
	}
	.benefits__row {
		padding: 0;
		column-gap: 30px;
	}
	.benefits__title {
		margin-bottom: 50px;
	}
	.benefits__col {		
		flex: 0 1 auto;		
	}
	.item__image {
		margin-bottom: 40px;
	}
	.item__image--flipchart {
		margin-bottom: 36px;
	}
	.item__image--presentation {
		margin-bottom: 24px;
	}
	.item__title {
		margin-bottom: 15px;
		padding: 0 0px;
		font-size: 22px;
		line-height: 1.35;
	}
	.item__text {
		padding: 0;
		margin: 0px;
		line-height: 1.75;
	}
} 