.logo {
	padding-top: 100px;
	padding-bottom: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
.logo__header{
	text-align: center;	
	margin-left: 12px;
}
.logo__header--title {	
	margin-bottom: 6px;	
	font-size: 33px;	
	letter-spacing: 0.32em;
	color: #000;
}
.logo__header--subtitle {	
	letter-spacing: 0.77em;
	color: #a1bbd9;
}