.logo {
	padding-top: 100px;
	padding-bottom: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
.header{
	text-align: center;	
	margin-left: 12px;
}
.header__title {	
	margin-bottom: 6px;	
	font-size: 33px;	
	letter-spacing: 0.32em;
	color: #000;
}
.header__subtitle {	
	letter-spacing: 0.77em;
	color: #a1bbd9;
}
/* --- Адаптив блока logo --- */
@media (min-width: 992px) {
	.logo {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.header__title {
		margin-bottom: 8px;
		font-size: 38px;
		letter-spacing: 0.25em
	}
	.header__subtitle {
		font-size: 16px;
		letter-spacing: 0.68em;
	}
}