.prices {
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
}
.prices__title {
	margin-bottom: 10px;
}
.prices__text {
	font-size: var(--fz);
	line-height: var(--lh14);
	font-weight: 400;
	color: #777777;
	padding: 0 10px;	
	margin-bottom: 36px;
}
.prices__row {
	display: grid;
	row-gap: 40px;
}
/* --- Адаптив блока prices --- */
@media (min-width: 768px) {
	.prices {
		padding-top: 33px;
		padding-bottom: 100px;
	}
	.prices__text {
		width: 40%;
    margin-left: auto;
    margin-right: auto;
	}
	.prices__row {
		display: flex;
		justify-content: center;
		column-gap: 30px;
	}
	.prices__col {
		flex: 1 0 26%;
		white-space: nowrap;
	}
}

@media (min-width: 1200px) {
	.prices {
		padding-top: 62px;
		padding-bottom: 90px;
	}
	.prices__title {
		margin-bottom: 20px;		
	}
	.prices__text {
		margin-bottom: 55px;
	}
}