.prices {
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
}
.prices__title {
	margin-bottom: 10px;
}
.prices__text {
	font-size: var(--fz);
	line-height: 1.71;
	font-weight: 400;
	color: #777777;
	padding: 0 10px;	
	margin-bottom: 36px;
}
.prices__row {
	display: grid;
	row-gap: 40px;
}

@media (min-width: 768px) {
	.prices {
		padding-bottom: 100px;
	}
	.prices__text {
		width: 40%;
    margin-left: auto;
    margin-right: auto;
	}
	.prices__row {
		display: flex;
		justify-content: center;
		column-gap: 25px;
	}
}