.slider {
	padding-top: 60px;
	padding-bottom: 9px;
	background-color: #00306e;
	background-image: url('../../img/bg/slider-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 3px 25px 0px #688ab3;	
}
.slider-swiper__col {
	text-align: center;
}
.slider-swiper__title {
	margin-bottom: 14px;	
	font-size: 28px;
	line-height: 1.36;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #fff;	
}
.slider-swiper__subtitle {
	margin-bottom: 105px;
	font-family: 'Noto Serif', serif;
	font-size: 18px;
	line-height: 1.56;
	font-weight: 400;
	color: #cddfe0;	
}
/* Пагинация Буллеты */
.swiper-pagination-clickable {	
	margin-bottom: 11px;
}
.slider-swiper .swiper-pagination-bullet {	
	width: 12px;
	height: 12px;	
	background-color: #fff;	
}
/* Стрелки */
.slider-swiper .swiper-button-prev::after,	.slider-swiper .swiper-button-next::after {	
	display: none;
}
@media (min-width: 768px) { 
	/* Стрелки */
	.slider-swiper .swiper-button-prev::after,	.slider-swiper .swiper-button-next::after {
		display: block;
		color: #fff;
	}
	/* Пагинация Буллеты */
	.slider-swiper .swiper-pagination {	
		display: none;
	}
}