.footer, .service-description, .prices, .benefits {
	display: none;
}

html, body {
	height: 100%;
	min-width: 320px;
	font-family: 'Noto Sans', serif, sans-serif;
	font-size: var(--fz);
	line-height: 1;
}

@media (min-width: 320px) {
	.visible-mobile {
		display: grid;
	}
	.visible-tablet {
		display: none;
	}
}
@media (min-width: 768px) {
	.visible-tablet {
		display: grid;
	}
	.visible-mobile {
		display: none;
	}
}