.card {
	padding: 34px 25px 47px;
	background-color: #fff;
	border-radius: 7px;	
	color: #242526;
	box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, .3);

	&__type {
		font-size: 12px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1.5px;		
		margin-bottom: 27px;
	}
	&__price {
		font-size: 48px;
		line-height: 1;
		font-weight: 700;		
		margin-bottom: 10px;
		
		&::after {
			content: "c";
			font-family: 'als_rublregular';
			margin-left: 6px;
		}
	}
	&__period {		
		font-size: 12px;
		line-height: 2.5;		
		letter-spacing: 0.025px;		
		margin-bottom: 36px;
	}	
}	
	
ul.card__list {
	font-size: $fz;
	line-height: 1.5;
	margin-bottom: 43px;	

	li {
		margin-bottom: 10px;		
		
		&::before {
			content: "";
			width: 12px;
			height: 12px;
			background-image: url('../../img/icons/ok-icon.png');
			background-repeat: no-repeat;
			background-position: left 4px;
			display: inline-block;
			margin-right: 13px;
		}
	}	
}


