.freelance {
	position: relative;
	padding-top: 70px;
	// @media (max-width: 991px) {
	// 	padding-top: 80px;
	// }
	
	&::after {
		content: '';
		display: block;
		position:absolute;
		border-bottom: 1px solid #ccc;
		width: 100%;
		opacity: 0.32;
		bottom: -84px;		
	}
}

.service-description {	
	
	&__row {
		display: flex;
		margin: 0 -15px;			
	}	
	&__col {
		flex: 1 1 50%;
		padding: 0 15px;
		// @media (max-width: 991px) {
		// 	padding: 0 10px;
		// }	
	}
	&__img-tablet {
		position: relative;
	}	
	&__img-tablet img {
		position: absolute;
		right: 80px;	
		max-width: 100%;
		// @media (max-width: 991px) {
		// 	right: 0px;
		// }
	}
	&__body {
		padding-top: 17px;		
		word-spacing: 2px;
		// @media (max-width: 991px) {
		// 	padding-top: 0px;
		// 	padding-left: 13px;
		// }
	}
	&__title {	
		margin-bottom: 20px;
		margin-left: -3px;		
	}
	&__text p {
		font-family: 'Noto Sans', sans-serif;
		font-size: $fz;
		line-height: 24px;
		font-weight: 400;
		color: $gray;
		margin-bottom: 22px;		
	}
	&__button-arrow {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-image: url('../../img/icons/arrow-orange.png');
		background-repeat: no-repeat;
		background-position: left top;
		margin-top: 4px;		
	}
	
}