.startup {	
	position: relative;
	padding-top: 155px;
	
	&::after {
		content: '';
		display: block;
		position:absolute;
		border-bottom: 1px solid #ccc;
		width: 100%;
		opacity: 0.32;
		bottom: -94px;		
	}
}

.service-description {
	
	&__col-55 {
		flex: 1 1 55%;
		padding: 0 15px;
		margin-left: 103px;
	}
	&__col-45 {
		flex: 1 1 45%;
		padding: 0 15px;
	}
	
	&__img-rocket {
		position: relative;		
	}
	&__img-rocket img {		
		position: absolute;
		left: 25px;
		max-width: 100%;						
	}

}